# macOS system files
.DS_Store
**/.DS_Store

# Bytecode and cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pypirc

# Virtual environments
venv/
.venv/

# IDE/editor-specific files
.vscode/

